/* .rubik-scribble-regular {
  font-family: "  ;
  font-weight: 400;
  font-style: normal;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}
h2 {
  /* parte 4 */
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}
h3 {
  font-size: 5rem;
}
h4 {
  font-size: 4.5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.5rem;
}

/* parte 2 */
a {
  /* tirar as linhas dos links... */
  text-decoration: none;
  color: plum;
}

/* parte 4 */
p{
  margin-bottom: 3rem;
  color: #333;
}

.responsive-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Adiciona rolagem suave em dispositivos móveis */
  width: 100%; /* Garante que a tabela ocupe toda a largura disponível */
  display: block; /* Faz com que a tabela se comporte como um bloco e permita a rolagem horizontal */
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9; /* Fundo branco suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para dar um ar moderno */
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
  color: #DDA0DD; /* Cor Plum */
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--light-gray-color);
  color: #333; /* Texto em tom de cinza escuro para contraste */
}

tfoot td, table th {
  background: #DDA0DD; /* Fundo Plum para cabeçalhos e rodapé */
  color: #fff; /* Texto branco para destacar */
}

table tr:nth-child(even) {
  background-color: #f2f2f2; /* Linhas pares com fundo cinza claro para melhorar a legibilidade */
}

table tr:hover {
  background-color: #E6E6FA; /* Fundo Plum claro ao passar o mouse, dando interatividade */
}

